{% extends 'base.html' %}

{% block content %}
		<style>
			body {
				padding: 0;
				margin: 0;
			}
			html, body, #map {
				height: 100%;
				width: 100vw;
			}
		</style>
		<div id="map">
		</div>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
		<link rel="stylesheet" href="/css/Leaflet.EditInOSM.css" />
		<script src="/js/Leaflet.EditInOSM.js"></script>
		<script>
			var map = L.map('map', { editInOSMControlOptions: {} }).setView([{{ lat }}, {{ lon }}], 18);
			var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 19,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);
			var gb_os_om_local_2025_04 = L.tileLayer("//os.openstreetmap.org/layer/gb_os_om_local_2025_04/{z}/{x}/{y}.png", {
				attribution: "Contains OS data &copy; Crown copyright and database right 2025",
				maxZoom: 18
			});

			var propertyBoundaries = L.tileLayer('https://tiles.osmuk.org/PropertyBoundaries/{z}/{x}/{y}.png', {
				attribution: '&copy; This information is subject to Crown copyright and database rights 2025 and is reproduced with the permission of HM Land Registry.',
				maxZoom: 19,
				minZoom: 18
			}).addTo(map);

			var usrn = L.geoJSON({% autoescape false %}{{ usrn_geom }}{% endautoescape %}, {
				'style': { 'weight': 15 },
				'attribution': 'Contains OS data © Crown copyright and database right 2025'
			});
			usrn.addTo(map).bindPopup('<pre><code>ref:GB:usrn={{ usrn }}{{ name }}</code></pre>').openPopup();

			var overlays = {'OS Open USRN': usrn, 'HM Land Registry INSPIRE Index Polygons': propertyBoundaries}

			var uprn_geom = {% autoescape false %}{{ uprn_geom }}{% endautoescape %};
			if (uprn_geom !== null && uprn_geom.features !== undefined && uprn_geom.features.length > 0) {
				var uprn = L.geoJSON(uprn_geom, {
					'attribution': 'Contains OS data © Crown copyright and database right 2025'
				});
				uprn.bindPopup((layer) => { return '<pre><code>' + (() => {let tags = ''; for (const [k, v] of Object.entries(layer.feature.properties)) {tags += `${k}=${v}\n`;} return tags;})() + '</code></pre>' }).addTo(map);
				overlays['OS Open UPRN'] = uprn;
			}

			var layerControl = L.control.layers({'OpenStreetMap': osm, 'OS OpenMap Local - April 2025': gb_os_om_local_2025_04}, overlays, {'collapsed': false}).addTo(map);
		</script>
{% endblock %}
