{% extends 'base.html' %}

{% block content %}
		<style>
			body {
				padding: 0;
				margin: 0;
			}
			html, body, #map {
				height: 100%;
				width: 100vw;
			}
		</style>
		<div id="map">
		</div>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
		<link rel="stylesheet" href="/css/Leaflet.EditInOSM.css" />
		<script src="/js/Leaflet.EditInOSM.js"></script>
		<script>
			var map = L.map('map', { editInOSMControlOptions: {} }).setView([{{ lat }}, {{ lon }}], 18);
			L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 19,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);
			var road = L.geoJSON({% autoescape false %}{{ geom }}{% endautoescape %}, {style: { "weight": 15 }});
			var layerControl = L.control.layers(null, {'USRN': road}, {'collapsed': false}).addTo(map);
			road.addTo(map).bindPopup('<pre><code>ref:GB:usrn={{ usrn }}{{ name }}</code></pre>').openPopup();
		</script>
{% endblock %}
